<h1>Moon</h1>
<hr>
<h3>Mass: 0.0123 Earth masses</h3>
<h3>Orbital Speed: 1.0 km/s</h3>
<div id="interface-panel-1">

  <div class="">
    <p>
      The Moon is Earth's only permanent natural satellite. It is the fifth-largest natural satellite in the Solar System, and the largest among planetary satellites relative to the size of the planet that it orbits (its primary). It is the second-densest satellite among those whose densities are known (after Jupiter's satellite Io).

The average distance of the Moon from the Earth is 384,400 km (238,900 mi), or 1.28 light-seconds.

The Moon is thought to have formed about 4.5 billion years ago, not long after Earth. There are several hypotheses for its origin; the most widely accepted explanation is that the Moon formed from the debris left over after a giant impact between Earth and a Mars-sized body called Theia.
    </p>
  </div>
  <!-- <div class="button-large">
    Continue
  </div> -->
</div>
